.page-header h1 {
    font-size: 4em;
}

.panel-heading-name {
    font-size: 2em;
    color: white;
}

.panel-heading-date {
    background-color: yellow;
    font-size: 15px;
    color: black;
    padding: 5px;
}